@model IEnumerable<ProyectoSC_601.Entities.InventarioEnt>
@{
    ViewBag.Title = "Catalogo";
    <link href="~/Assets/css/style.css" rel="stylesheet">
    <link href="~/Assets/css/catalogo.css" rel="stylesheet">
}

@*CATALOGO*@
<section id="cata" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    if (item.Estado == 1)
                    {

                        <div class="col mb-5">
                            <div class="card h-100">
                                @if (item.Cantidad <= 5)
                                {
                                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@item.Cantidad Disponibles</div>
                                }
                                <!-- Product image-->
                                <div style="text-align:center">
                                    <img src="@item.Imagen" style="width:250px; height:150px">
                                </div>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@item.Nombre</h5>
                                        <!-- Product price-->
                                        ₡@item.Precio
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                                </div>
                            </div>
                        </div>
                    }
                }

            }
            else
            {
                <div class="col-12 alert alert-info" role="alert" style="text-align: center; margin-top: 5%;">
                    No hay productos registrados en este momento
                </div>
            }

        </div>
    </div>
</section>
